a, a:hover {
    text-decoration: none;
    color:white;
}

ul {
	list-style-type: none;
}
.heading {
    min-width: 100%;
    text-align: left;
    margin-top:8px;
}
i {
    margin-right: 14px;
}
.submit {
    float:right;
    margin-left: 40px;
    width: 227px;
}
