<!DOCTYPE html>
<html>
	<head>
		{% load staticfiles %}
		<title>Purple Robot Configuration </title>
		<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/flatly/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{% static "javascript/parse.js" %}"></script>
		<script type="text/javascript" src="{% static "javascript/jquery.collapsible.js" %}"></script>
		<script type="text/javascript" src="{% static "javascript/jquery.collapse_storage.js" %}"></script>
		<script type="text/javascript" src="{% static "javascript/underscore.js" %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static "css/styles.css"%}">
	</head>
	<body>
            <nav class="navbar navbar-default" role="navigation">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Purple Robot Configurator</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
                <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Configurations</a></li>
                  <li><a href="#">Users</a></li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        {% for study in studies %}
                            <div class="checkbox">
                                <label for="study-{{study.id}}">
                                  <input class="study-check" id="study-{{study.id}}" type="checkbox"> Select all study users 
                                </label>
                              </div>
                            <div class='study-list'>
                                <div class="btn btn-success">{{study.study_name}}</div>
                                <ul>
                                {% for user in study.users.all %}
                                    <li id="{{user.id}}"><div class="radio"><label><input class="user-radio" type='radio' name='userRadio' value="{{user.id}}">{{user.username}}</label></div></li>
                                {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                    
                    <div class="col-md-9">
                        <form action="/save/" method="post" id="configurator" >
                            <fieldset>
                                <div id='name-label' class='form-group'>
                                    <label class='control-label' for='nickname'>Configuration Nickname</label>
                                    <input placeholder="Optional" class='form-control' type='text' id='nickname' />
                                </div>
                                <ul class="controls" ></ul>
                            </fieldset>
                        </form>
                    </div> 
              </div>
          </div>
        </div> 
        </body> 
        <script>
		$(document).ready (function(){
                $('.study-list').collapse(0);
                $('.user-radio').on("click", function(e) {
                    if($('.submit')){
                        $('.submit').off("click");
                    }
                    var user = $('[type="radio"]:checked').val();
                    csrf();
                    $.ajax({
                        url:'/get_config',
                        type: "POST",
                        data: {user_id: user},
                        success:function(response){
                            $.getJSON("{{ config.template_file.url }}", function(data){
                                $('.controls').html(''); 
                                $('.controls').append(parse_recursive(data.configuration));
                                if($('.submit').length == 0){
                                    $('#configurator').append("<div class='submit btn btn-large btn-warning'>Submit Configuration</div>");
                                }
                                $('.control-headings').collapse(0);
                                $('#nickname').val('');
                                if(!$.isEmptyObject(response)){
                                    fillForm(response.json);
                                    console.log(response.name);
                                    $('#nickname').val(response.name);
                                    $('body').append("<input type='hidden' value='' />");
                                    $('[type="hidden"]').val(response.id);
                                }
                                $('.submit').on("click", function(e) {
                                    var studies = [];
                                    $.each($('.study-check:checked'), function() {
                                        var id = $(this).attr('id').split("-")[1];
                                        studies.push(id);
                                    });
                                    console.log("studies"+studies);
                                    var json_config = JSON.stringify(serializeObject($('input, select')));
                                    var config_name = $('#nickname').val();
                                    var user = $('[type="radio"]:checked').val();
                                    var config_id = $('[type="hidden"]').val();
                                    csrf();
                                    $.ajax({
                                        url:'/save_config',
                                        type: "POST",
                                        data: {studies: studies, json: json_config, config_name: config_name, id: config_id, user_id: user},
                                        success:function(response){
                                            console.log("heyo");
                                            $('#nickname').val('');
                                            $('.control-headings').hide();
                                        },
                                        complete:function(){
                                        },
                                        error:function (xhr, textStatus, thrownError){}
                                    });
                                    return true;
                                });
                            }); 
                        },
                        complete:function(){},
                        error:function (xhr, textStatus, thrownError){}
                    });
                });
		});
	</script> 			
</html>
